@font-face {
  font-style: normal;
  font-weight: 400;
  font-family: "Yuji Syuku";

  font-display: swap;
  src:
    url("../fonts/yuji-syuku.woff2") format("woff2"),
    url("../fonts/yuji-syuku.woff") format("woff");
}

:root {
	--color-default-white: #ffffff;
  --color-eclipse: #383838;
	--color-link-water: #ccd2d9;

	--fz-default: clamp(14px, 1.5vw, 25px);
	--ff-default: "Yuji Syuku", "Palatino", serif;

	--tf-default: ease;
	--trans-default: 0.3s var(--tf-default);

	--padding-size-s: 20px;
	--padding-size-m: 40px;
	--padding-size-l: 80px;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
	min-width: 320px;
	min-height: 100vh;
  margin: 0;
  padding: 0;
}

html {
  font-style: normal;
  font-weight: 400;
  font-size: var(--fz-default);
  line-height: 1.24;
  font-family: var(--ff-default);
	letter-spacing: -0.04em;
	color: var(--color-eclipse);
	scroll-behavior: smooth;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

body {
  width: 100%;
  height: 100%;

	background-color: var(--color-default-white);
}

img,
video {
  display: block;
  max-width: 100%;
  height: auto;
}

.visually-hidden {
	position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  white-space: nowrap;
  border: 0;
  clip-path: inset(100%);
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.container {
	width: 80%;
  max-width: 1536px;
  margin: 0 auto;
}

.header,
.footer {
	flex-shrink: 0;
}

.main {
	flex-grow: 1;
}

.link {
  display: inline-flex;
  align-items: center;

  padding: 0;
	font: inherit;
  color: inherit;
	text-decoration: underline;
	text-underline-offset: 0.2em;
	text-align: center;
  user-select: none;
  cursor: pointer;
  transition: opacity var(--trans-default);

  transform: translate3d(0, 0, 0);
}

@media (hover: hover) {
	.link:hover {
		opacity: 0.6;
	}
}

.link:focus {
	opacity: 0.6;
}

.link:active {
	opacity: 0.6;
}

/* header */

.header {
	display: grid;
	grid-template-columns: minmax(0, 1fr) auto;
	grid-column-gap: 20px;
	padding-top: var(--padding-size-l);
  padding-bottom: var(--padding-size-m);
}

@media (max-width: 767px) {
	.header {
		padding-top: var(--padding-size-m);
    padding-bottom: var(--padding-size-s);
	}
}

.logo {
	display: block;
	width: 30px;
	margin-left: auto;
}

@media (max-width: 767px) {
	.logo {
		width: 20px;
	}
}

.logo img {
	width: 100%;
}

/* nav */

.nav {
	align-self: center;
	border-right: 2px currentColor dotted;
}

.nav__list {
	--item-margin: 20px;

	display: flex;
	flex-wrap: wrap;
	justify-content: flex-end;
	margin: 0;
	margin-top: calc(var(--item-margin) * -1);
	margin-left: calc(var(--item-margin) * -1);
	padding: 0 20px;
	list-style: none;
}


@media (max-width: 767px) {
	.nav__list {
		--item-margin: 10px;
	}
}

.nav__item {
	margin-top: var(--item-margin);
	margin-left: var(--item-margin);
}

.nav + .page-section {
	margin-top: 40px;
}

/* page-section */

.page-section {
  padding-top: var(--padding-size-m);
  padding-bottom: var(--padding-size-m);
}

@media (max-width: 767px) {
	.page-section {
		padding-top: var(--padding-size-s);
    padding-bottom: var(--padding-size-s);
	}
}

.page-section__title,
.page-section__text p {
	margin: 0;
	padding: 0;
}


.page-section__text p:not(:last-child) {
	margin-bottom: 20px;
}

.page-section__list {
	margin: 0;
	margin-top: 20px;
	padding: 0;
	list-style: none;
}

.page-section__list-item {
	margin-top: 40px;
}

.page-section__list-item:first-child {
	margin-top: 0;
}

/* intro */

.intro {
	display: grid;
	grid-template-columns: 40% minmax(0, 1fr);
	gap: 40px;
	align-items: center;
}

.intro__title {
	margin-bottom: 20px;
	font: inherit;
}

@media (max-width: 767px) {
	.intro {
		grid-template-columns: minmax(0, 1fr);
	}
}

.photo {
	position: relative;
	justify-self: center;
}

.photo::after {
	position: absolute;
	content: "";
	width: 100%;
	height: 100%;
	top: 5%;
	left: -5%;
	border: 2px currentColor dotted;
}


/* contacts */

.contacts {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	column-gap: 0.5vw;
	row-gap: 20px;
	justify-items: center;

	margin: 0;
	padding: 0;

	list-style: none;
}

@media (max-width: 767px) {
	.contacts {
		grid-template-columns: repeat(2, 1fr);
	}
}

/* practice */

.practice {
	display: grid;
	grid-template-columns: auto minmax(0, 1fr);
	grid-column-gap: 20px;
}

.practice > * {
	grid-column: 2;
}

.practice__logo {
	grid-column: 1;
	grid-row: 1 / span 3;
	opacity: 0.6;
}

.practice__logo img {
	width: 60px;
	height: auto;
}

.practice__title {
	margin: 0;
}

.practice__period {
	margin: 0;
	margin-top: 5px;
}

.practice__link {
	margin-top: 10px;
}

.practice__skills {
	margin-top: 20px;
}

@media (max-width: 767px) {
	.practice__skills {
		grid-column: 1 / span 2;
	}
}

/* flex-list */

.flex-list {
	--item-margin-top: 10px;
	--item-margin-left: 30px;

	display: flex;
	flex-wrap: wrap;
	margin: 0;
	margin-top: calc(var(--item-margin-top) * -1 + 20px);
	margin-left: calc(var(--item-margin-left) * -0.5);
	padding: 0;
	list-style: circle;
}

.flex-list__item {
	margin-top: var(--item-margin-top);
	margin-left: var(--item-margin-left);
}

/* code */

.code {
	margin-top: 20px;
}

/* footer */

.footer {
	display: grid;
	grid-template-columns: 1fr auto;
	gap: 10px;
	justify-content: flex-end;
	padding-top: var(--padding-size-m);
  padding-bottom: var(--padding-size-l);
	border-top: 2px currentColor dotted;
}

.footer > * {
	grid-column: 2;
}

.rs-school img {
	width: 60px;
	height: auto;
}

@media (max-width: 767px) {
	.footer {
		padding-top: var(--padding-size-s);
    padding-bottom: var(--padding-size-m);
	}
}

.git img {
	width: 20px;
	height: auto;
}
